body{
    margin:0;
    background-color: darkblue;

}

.flex-container {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;   
    justify-content: center;
    border: 20px solid darkblue;
    background-color: pink;
}

.flex-box {
    display: flex;
    margin:20px;
    justify-content: space-evenly;
}

#border{
    border: 10px solid red;
    background-color: pink;
}

.flex-box2{
    display:flex;
    border: 5px solid red;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    padding: 10px;
    margin: 10px;
}


#navbar{
    display:flex;
    background-color: darkblue;
    border-bottom: 10px solid red;
    color: pink;
    font-family: "Times New Roman", Times, serif;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-bottom: 0;

}

#navbars1{
    display:flex;
    margin-right: 1%;
    flex-direction: row-reverse;
    margin-top: 5px;
}


#personal-information{
    display: flex;
    justify-content: space-between;
}

#previous-projects{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.feature-sections-div{
    display:flex;
    
}

#featured-photo-div{
    display:flex;
    border: 7px solid darkblue;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: red;
    padding:0;
    color: pink;
    width: 97.5%;
}

#featured{
    border: 7px solid darkblue;
    width: 100%;
}

#title{
    font-size: 60px;
    font-style: italic;
    margin:2px;

}

#gametitle{
    font-size: 500%;
    color: pink;
    font-family:"Times New Roman", Times, serif;
    margin: 0;
    margin-left: 10px;
}


#game-specs{
    margin:10px;
}

#derrycross{
    height: 50%;
    width: 70%;
    margin:0;
}

#dietproblemsolver{
    height: 50%;
    width: 70%;
    margin:0;

}

#ysesExplorerss{
    height: 50%;
    width: 70%;
    margin:0;

}

.navbars2{
    color: pink;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 3px;
}

.navbars_items{
    color:pink;
    margin-left: 15px;
    font-size: 25px;
    margin-right: 25px;
}

.flex-box3{
    color: pink;
    font-weight: bold;
}

#personal-information{
    background-color: red;
    padding-right: 20px;
    padding-left: 20px;
    border: 7px solid darkblue;

}

#footer{
    display:flex;
    background-color: darkblue;
    border-top: 10px solid red;
    color: pink;
    font-family: "Times New Roman", Times, serif;
    align-items: center;
    justify-content: center;
    margin:0;
}

.project-titles{
    color: darkblue;
    font-size: 30px;
}

.header{
    color: darkblue;
    font-size: 30px;
    align-self:center ;
}

#autobiography{
    display:flex;
    flex-direction: row-reverse;
}

#profile-icon{
    width:10%;
    height: 80%;
    margin-left:10px;
}

.footer-info{
    margin:10px;
}

#profile-picture{
    width:10%;
    height:10%;
}

#profile-picture{
    margin:10px;
    width:10%
}

#footer-info-div{
    align-content: center;
}