body{
    margin:0;
}

.flex-container {
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;   
    display: flex;
    justify-content: center;
    border: 20px solid darkblue;
    background-color: pink;
}

.flex-box {
    display: flex;
    margin:20px;
    justify-content: center;
}

#border{
    border: 10px solid red;
    
}

.flex-box2{
    display:flex;
    border: 2px solid red;
    justify-content: center;
    flex-wrap: wrap ;
    align-content: center;
    padding: 10px;
    margin: 10px;
}


#navbar{
    display:flex;
    background-color: darkblue;
    border-bottom: 10px solid red;
    color: red;
    font-family: "Times New Roman", Times, serif;
    justify-content: space-between;
    padding-bottom: 0;

}

#navbars1{
    margin-left: 1%;
}

#navbars2{
    color:red;
    display: flex;
    justify-content: space-between; 
    justify-items: flex-end;
    margin-right:10px;
}

#personal-information{
    justify-content: space-around;
    align-content: center;
}

#previous-projects{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#featured-photo{
    display:flex;
    height:300px;
    border: 7px solid darkblue;
    margin-top: 0px;
    background-color: red;
    padding:0;
    color: pink;
    margin-bottom:  10px;;
}

#featured{
    display:flex;
    border-right: 5px solid darkblue;
    border-left: 5px solid darkblue;
    justify-content: center;
    max-width: fit-content;
}

#title{
    font-size: 60px;
    font-style: italic;
    margin:2px;

}

#gametitle{
    font-size: 15vh;
    color: pink;
    font-family:"Times New Roman", Times, serif;
    font-weight: 1000;
    margin: 0;
    margin-left: 10px;
}

.feature-sections{
    display:flex;
    flex:1;
}

#game-specs{
    margin:10px;
}

#derrycross{
    height: 50%;
    width: 70%;
    margin:0;
}

#dietproblemsolver{
    height: 50%;
    width: 70%;
    margin:0;

}

#ysesExplorerss{
    height: 50%;
    width: 70%;
    margin:0;

}